{% extends 'shop/layouts/main.html' %}

{% block title %}
<title>Collections | online shopping</title>
{% endblock title %}

{% block content %}
<div class="my-5" >
    <img src="{% static 'images/image5.png' %}" class="d-block w-100 "  alt="slide 1">
</div>
<section class="bg-light py4 my5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">Categories</h4>
                <hr style="border-color: #b8bfc2;">
                {% include 'shop/inc/message.html' %}
            </div>
            {% for item in category %}
            <div class="col-md-4 col-lg-3 my-3 im">

                <div class="card my-3 kc">
                    <img src="{{ item.image.url }}" alt="categories" class="card-img-top kb ">
                    <hr>
                    <a href="{% url 'collections' item.name %}">
                        <div class="card-body kd">
                            <h5 class="card-title text-primary">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>

                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}
